<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div>
            <a *ngIf="!hardcodeAuthService.isUserLoggedIn()" routerLink="/" class="navbar-brand">Go back to login</a>
        </div>

        <ul class="navbar-nav">
            <li>
                <a *ngIf="hardcodeAuthService.isUserLoggedIn()" 
                routerLink="welcome/Ramana"  class="nav-link">Home</a>
            </li>
            <li>
                <a *ngIf="hardcodeAuthService.isUserLoggedIn()" 
                routerLink="todolist" class="nav-link">Todo List</a>
            </li>
        </ul>

         <ul class="navbar-nav navbar-collapse justify-content-end">
            <li>
                   <a  *ngIf="!hardcodeAuthService.isUserLoggedIn()"
                        routerLink="login" class="nav-link"> login </a>
            </li>
            <li>
                <a *ngIf="hardcodeAuthService.isUserLoggedIn()" 
                    routerLink="logout" class="nav-link">logout </a>
            </li>
        </ul>
    </nav>
</header>
